extends container
block container

  #metric
  
  script(type='text/javascript').

    function updateData() {
      d3.csv("/api/v1/values/localhost.localdomain/kernel.all", function(err,json) {
        console.log('metrics', json);
        d3.select('#metric').html('<pre>GOT METRIC: '+JSON.stringify(json, false, ' ')+'</pre>');
      });
    }

    updateData();
