extends container
block container

  .panel.panel-default
    .panel-heading Cube Events
    .panel-body
      #metric
  
  script(type='text/javascript').
    function updateData() {
      d3.select('#metric')
        .text('ok');
    }

    setInterval(updateData, 5000);
    updateData();
